NEXT_PUBLIC_APP_URL=https://yourdomain.ng
NEXT_PUBLIC_APP_NAME=VendPro

NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=

FIREBASE_ADMIN_PROJECT_ID=
FIREBASE_ADMIN_CLIENT_EMAIL=
FIREBASE_ADMIN_PRIVATE_KEY=

FLUTTERWAVE_PUBLIC_KEY=
FLUTTERWAVE_SECRET_KEY=
FLUTTERWAVE_ENCRYPTION_KEY=
FLUTTERWAVE_WEBHOOK_SECRET=

BILAL_API_KEY=
BILAL_BASE_URL=
SIMHOSTNG_API_KEY=
SIMHOSTNG_BASE_URL=
OGDAMS_API_KEY=
OGDAMS_BASE_URL=

SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM="VendPro <noreply@yourdomain.ng>"

TERMII_API_KEY=
TERMII_SENDER_ID=

WHATSAPP_API_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=

UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

TRANSACTION_ENCRYPTION_KEY=
API_JWT_SECRET=
ADMIN_EMAILS=admin@yourdomain.ng
MAINTENANCE_BYPASS_IPS=
